<h1>Give us a song recommendation</h1>

<form method="post" action="/songs">
  <div>
    <label>Artist:</label>
    <input type="text" name="artist">
  </div>
  <div>
    <label>Name:</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>likes:</label>
    <input type="integer" name="likes">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>